body {
  background-color: ;}
li{color:silver;}
.colors {color:silver;}
p {color: #81B7E2;}


body {
  background-image: url(../imagenes/keso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50% ;


  }

  body {
    background: white url(log.gif) no.repeat fixed 50% 50%;
  }

 header {background-color: #78281F
   padding: 30px;
     margin: 50px;
       width: 70%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-around;

      }

      .encabezadologo{
        background-color: #78281F
        display: flex;
        width: 25%;
        height: 95%;
      }

      .encabezadotitulo{ display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color:#a04f4f;
        margin: 25px;
      }



footer {background-color: #a04f4f;
    padding: 30px;
      margin: 50px;
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }

 .encabezadoimg{
   display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
}

  .encabezadoingredientes{
    display: flex; justify-content:center;
    background-color: #cd6e6e;
  padding: 30px;
    margin: 50px;
      width: 25%;
      }

    .encabezadopreparacion{display:flex;
      background-color: #cd6e6e;
       padding: 30px;
        margin: 50px;
          width: 25%;

          }

      .encabezadovideos{display: flex;
        flex-direction:center;
justify-content: center;
        background-color: #cd6e6e;
          padding: 30px;
            margin: 5px;
              width: 35%;
              }

        .encabezadomaps{
          display: flex;
          justify-content: center;
              }



                .encabezadodirecciones{
                  display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                  background-color: #cd6e6e;
                     padding: 30px;
                      margin: 50px;
                        width: 25%;
                }
