body {
  background-color: ;}
li{color:silver;}
.colors {color:silver;}
p {color: #81B7E2;}


body {
  background-image: url(../imagenes/keso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50% ;
  }

  body {
    background: white url(log.gif) no.repeat fixed 50% 50%;
  }

 main{background-color: #a04f4f;
        padding: 10px;
        margin:50px;
        border:3PX solid;
      }


  .encabezadoingredientes{background-color: #cd6e6e;
  padding: 30px;
    margin: 50px;
      width: 25%;

      }
    .encabezadopreparacion{background-color: #cd6e6e;
       padding: 30px;
        margin: 50px;
          width: 25%;
          }
      .encabezadovideos{background-color: #cd6e6e;
          padding: 30px;
            margin: 50px;
              width: 35%;
              }

            
